.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar.bg-semi-white {
    background-color: rgba(252, 252, 252, 0.98);


}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: center;
    font: bold, Arial;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkolivegreen;
}
img {
    max-width: 100%;
}

.packs {
    background-image: url('fundo_selling.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;

    
}

.pack_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}

.pack {
    flex: 25%;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;

}

.pack_thumbnail {
    width: 100%;
    height: 100%;

}

.pack_thumbnail img {
    border-radius: 20px;
    max-height: auto;
    max-width: auto;
    width: 317px;
    height: 550px;
    
}

.text-pack {
    font-size: bold, normal;
    text-align: center;
    font-size: 20px;
    color: rgb(76, 69, 69);
    cursor: pointer;
}

.container-footer{
    background-image:url(/fundo_selling.jpg);
    background-size: cover;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
    text-align: left ;
    height: 100px;
}
.contato {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.text-pack:hover{
transform: translate(0,0.9rem);
box-shadow: 0 0.1rem rgba(226, 53, 53, 0)
}